// colors
$font-color: #fff;
$white: white;
$yellow: yellow;
$blue: blue;
$black: black;
$red: red;
$background-color: linear-gradient(0deg, #537987 0%, #154579 60%);

// font-sizes
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;

// borders
$b-off: none;
$b-on: 2px solid red;

// displays
$d-n: none;
$d-b: block;