@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

// MEDIA QUERIES / BREAKPOINTS

// common breakpoints for widths of devices
// 320px — 480px: smartphones
// 481px — 768px: ipads/tablets
// 769px — 1024px: latops/small screens
// 1025px — 1200px: desktops/large screens
// 1201px and more —  tvs/extra large screens

// media query min-width and max-width
@mixin mq($size1, $size2) {
    @media only screen and (min-width: $size1) and (max-width: $size2) {
        @content;
    }
}

// media query min-width
@mixin mqminw($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

// media query min-height
@mixin mqminh($size) {
    @media only screen and (min-height: $size) {
        @content;
    }
}

// media query max-height
@mixin mqmaxh($size) {
    @media only screen and (max-height: $size) {
        @content;
    }
}

// media query min-height and max-height
@mixin mqmhmh($size1, $size2) {
    @media only screen and (min-height: $size1) and (max-height: $size2) {
        @content;
    }
}

// media query max-width and min-height
@mixin mqmwmh($size1, $size2) {

    // iPad Pro w: 1024 & Iphone Plus 6/7/8 h: 736
    @media only screen and (max-width: $size1) and (min-height: $size2) {
        @content;
    }
}